# -----------------------------------------------------------------------------
# Python
# -----------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------------------------------------------------------
# Virtual Environment
# -----------------------------------------------------------------------------
venv/
.env

# -----------------------------------------------------------------------------
# IDE
# -----------------------------------------------------------------------------
.vscode/
.idea/

# -----------------------------------------------------------------------------
# Pytest
# -----------------------------------------------------------------------------
.pytest_cache/
.cache/

# -----------------------------------------------------------------------------
# Reports
# -----------------------------------------------------------------------------
reports/
allure-results/
allure-report/
htmlcov/

# -----------------------------------------------------------------------------
# Coverage
# -----------------------------------------------------------------------------
.coverage
.coverage.*
coverage.xml

# -----------------------------------------------------------------------------
# Logs
# -----------------------------------------------------------------------------
logs/
*.log

# -----------------------------------------------------------------------------
# OS Files
# -----------------------------------------------------------------------------
Thumbs.db
.DS_Store

# -----------------------------------------------------------------------------
# Build
# -----------------------------------------------------------------------------
build/
dist/
*.egg-info/